<h1>El Grimorio Moderno </h1>
<div>{{>menu}}</div>
<div class="container-fluid backgroundPociones"> 
    <p>{{title}}</p>    
</div>
<section class="recipeList">
    <div  class="container recipeInstruction">
        <h3 class="recipeName">{{recipe.name}}</h3>
        <div class="recipeImg"><img src="{{recipe.image}}" alt="cupcakes" class="img-responsive"></div>
    </div>

    <div class="container recipeInstruction">
        <div class="row">
            <div class="col-6">
                <h4>Ingredientes</h4>
                <ul>
                    {{#each recipe.ingredients}}
                        <li>{{this.name}} </li>  
                    {{/each}}
                </ul>
            </div>
            <div class="col-6">
                <h4>Preparation</h4>
                <div class="text-break">{{recipe.text}}</div>
            </div>
        </div>
    </div>
</section>